<div class="form-group" *ngIf="!uploadPercentage">
  <div class="field">
    <label class="label">File</label>
    <div class="control">
      <input type="text" class="input" placeholder="File title" required
             [(ngModel)]="fileForm.name" name="name" id="fileName">
    </div>
  </div>
  <div class="field">
    <div class="file has-name is-boxed">
      <label class="file-label">
        <input class="file-input" (change)="fileChange($event)" #fileInput type="file" name="resume">
        <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload" *ngIf="file"></i>
        </span>
        <span class="file-label" *ngIf="!file">
          Choose a file…
        </span>
    </span>
        <span class="file-name" *ngIf="file">
          {{file.name}}
    </span>
      </label>
    </div>
  </div>
  <div class="field">
    <label class="label">Expires in</label>

    <!--<div class="expire-picker">-->
    <!--<input type="number" min="0" [(ngModel)]="fileForm.expireValue">-->
    <!--<select [(ngModel)]="fileForm.expireUnit">-->
    <!--<option value="d">Days</option>-->
    <!--<option value="w">Week</option>-->
    <!--<option value="m">Month</option>-->
    <!--</select>-->
    <!--</div>-->

    <div class="field has-addons">
      <p class="control">
    <span class="select">
       <select [(ngModel)]="fileForm.expireUnit">
      <option value="d">Days</option>
      <option value="w">Week</option>
      <option value="m">Month</option>
    </select>
    </span>
      </p>
      <p class="control">
        <input class="input" type="number" min="0" [(ngModel)]="fileForm.expireValue">
      </p>
    </div>
  </div>
  <button class="button" (click)="uploadFile()">Upload</button>
</div>
<div class="box" *ngIf="uploadPercentage" >
  <progress [ngClass]="{'is-success': uploadPercentage === 100}"
            class="progress" [value]="uploadPercentage" max="100">{{uploadPercentage}}%</progress>
  <div class="field has-addons" *ngIf="dlLink">
    <div class="control dl-link-control">
      <input class="input" #dlLinkInput type="text" [value]="dlLink">
    </div>
    <div class="control">
      <a class="button is-info" (click)="copyLink(dlLink)">
        Copy
      </a>
    </div>
  </div>
</div>


