<nav class="navbar is-transparent">
  <div class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control" *ngIf="!user">
            <a class="bd-tw-button button is-loading">
              <span>
                xxxxx
              </span>
            </a>
          </p>
          <p class="control" *ngIf="user && !user.anonymous" (click)="logout()">
            <a class="button is-primary">
              <span>Logout</span>
            </a>
          </p>
          <p class="control" *ngIf="user && user.anonymous" (click)="login()">
            <a class="bd-tw-button button" [ngClass]="{'is-loading': loading}">
              <span>
                Login
              </span>
            </a>
          </p>
        </div>
      </div>
      <div class="navbar-item" *ngIf="user && !user.anonymous">
        {{user.displayName}}
      </div>
    </div>
  </div>
</nav>
