<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Files
    </p>
    <a  class="card-header-icon">
      <span (click)="removeDownloaded()">Clean up</span>
    </a>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-plus" aria-hidden="true" (click)="addFile()"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="box" *ngFor="let file of files">
        <span>{{file.name ? file.name : file.key}}</span>
        <span *ngIf="!file.used">, Expires {{file.expires | fromNow}}</span>
        <div>
          <span>Link: </span>
          <a *ngIf="!file.used" [href]="file.link | sanitizer" target="_blank" (click)="dlFile(file)">{{file.link}}</a>
          <span *ngIf="file.used">Downloaded {{file.dlTime | fromNow}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
