<div class="card notification">
  <div class="card-header">
    <i class="fa fa-bell-o" aria-hidden="true"></i>
    Files
  </div>
  <div class="card-body">
    <ul>
      <li class="background-success">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <span>File name</span>
        <div>
          <a href="#">Download</a>
        </div>
      </li>
      <li class="background-success">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <span>File name</span>
        <div>
          <a href="#">Download</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <a class="card-link" href="#" (click)="addFile()">Add file</a>
  </div>
</div>
