<div class="form-group">
  <!--<button class="button is-primary" (click)="sneak()">Log in with GitHub</button>-->
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input type="text" class="input" placeholder="File title" required
             [(ngModel)]="user.email" name="email">
    </div>
  </div>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input type="text" class="input" placeholder="File title" required
             [(ngModel)]="user.displayName" name="email">
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input type="password" class="input" placeholder="File title" required
             [(ngModel)]="user.password" name="password">
    </div>
  </div>
  <button class="button is-primary" (click)="signUp(user.email, user.displayName, user.password)">Log in</button>
</div>
